# Ignore local development files
**/.vscode
**/.DS_Store
**/.github/instructions
**/bin

# Ignore backup files
**/*.backup
**/*.bak

# Ignore ansible files
**/*.vault
**/.ansible

homelab_project_memory.json
