# Ignore local development files
**/.vscode
**/.DS_Store

# Docker Secrets, Environment Files
**/secret.*
**/.env

# Packer state files
**/credentials.pkr.hcl

# Terraform workspace files
**/.terraform
**/.terraform.lock.hcl
**/*.tfvars