pm_api_url = "https://0.0.0.0:8006/api2/json"

pm_api_token_id = "root@pam!terraform"

pm_api_token_secret = "your_api_token_secret_here"

node_name = "pve"

vm_count = 2

template_id = 1000

cpu_cores = 2

cpu_sockets = 1

memory_size = 2048

balloon_size = 2048

cloud_init_password = "your_secure_password_here"

public_ssh_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC3..."

cloud_init_user = "ubuntu"

storage_pool = "local-lvm"

disk_size = "20G"
